certifi==2024.8.30
charset-normalizer==3.4.0
coverage==7.6.9
deep-translator==1.11.4
idna==3.10
numpy==1.22.1
pytest==9.0.1
pytest-cov==6.0.0
pyTelegramBotAPI==4.29.1
python-dotenv==1.0.1
requests==2.32.4
urllib3==2.2.3
