asn1crypto==0.24.0
certifi==2020.11.8
chardet==3.0.2
click==7.1.2
contextvars==2.4
cryptography==2.6.1
distro-info==0.21
emoji==1.6.3
entrypoints==0.3
Flask==1.1.2
googletrans==4.0.0rc1
greenlet==0.4.15
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.23.0
hyperframe==5.2.0
idna==2.8
immutables==0.14
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
msgpack==0.5.6
neovim==0.3.0
numpy==1.16.2
pycairo==1.20.0
pycrypto==2.6.1
PyGObject==3.30.4
pyTelegramBotAPI==4.3.1
python-apt==1.8.4.3
pyxdg==0.25
requests==2.22.0
rfc3986==1.4.0
SecretStorage==2.3.1
six==1.15.0
sniffio==1.2.0
unattended-upgrades==0.1
urllib3==1.25.11
Werkzeug==1.0.1
